# import streamlit
# import pandas 
from subprocess import call
import plotly.express
import requests
import json
import sys
import os
import numpy 
import pycountry
from countryinfo import CountryInfo
from pandasql import sqldf
