# Import base streamlit dependency
import streamlit as st
# Import pandas to load the analytics data
import pandas as pd
# Import subprocess to run tiktok script from command line
from subprocess import call
# Import plotly for viz
import plotly.express as px
# Import data processing helper
from flights import get_flights_dep
from flights import get_flights_arr

#Import requests
import requests
#Import pandas
import pandas as pd 
#Import json
import json
# Import sys dependency to extract command line arguments
import sys
# Import data processing helper
from helper import process_dep_data
# Import os
import os

#Import pandas
import pandas as pd 
#Import numpy
import numpy as np 
#Import pycountry and countryinfo for further getting full country name
import pycountry
from countryinfo import CountryInfo
#Import sqldf to write sql queries
from pandasql import sqldf
#Importing the JSON library
import json